* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
}

:root {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.w-screen {
  width: 100vw;
}
.w-fit {
  width: fit-content;
}
.w-48 {
  width: 12rem;
}
.h-screen {
  height: 100vh;
}
.h-12 {
  height: 3rem;
}

.flex {
  display: flex;
}
.block {
  display: block;
}
.absolute {
  position: absolute;
}
.flex-col {
  flex-direction: column;
}
.z-1 {
  z-index: 1;
}

.mx-auto {
  margin-inline: auto;
}
.my-8 {
  margin-inline: 2rem;
}
.my-8 {
  margin-block: 2rem;
}
.mt-\[10vh\] {
  margin-top: 10vh;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mx-6 {
  margin-inline: 1.5rem;
}

.p-8 {
  padding: 2rem;
}
.py-2 {
  padding-block: 0.5rem;
}
.px-2 {
  padding-inline: 0.5rem;
}

.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.top-4 {
  top: 1rem;
}
.left-8 {
  left: 2rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 1.3333;
}
.border-2 {
  border-style: var(--tw-border-style);
  border-width: 2px;
}
@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}
.border-zinc-400 {
  border-color: oklch(70.5% 0.015 286.067);
}
.cursor-pointer {
  cursor: pointer;
}

.text-red-600 {
  color: oklch(57.7% 0.245 27.325);
}
.bg-transparent {
  background-color: transparent;
}
.bg-zinc-800 {
  background-color: #27272a;
}
