* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

input[type="text"],
input[type="button"] {
  background-color: black;
  color: white;
}

input:hover {
  cursor: pointer;
}

.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}
.block {
  display: block;
}
.absolute {
  position: absolute;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.z-1 {
  z-index: 1;
}
.w-fit {
  width: fit-content;
}
